<div >          
  <!--toggle sidebar button-->         
  <h2 class="page-header">
       Edit Received             
  </h2>
  <ol class="breadcrumb">
	  <li><a ui-sref="modules.received">Received</a></li>
	  <li class="active">Edit</li>
  </ol>
  <form ng-submit="submit()">
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="code">Code</label>
			    <input type="text" class="form-control" id="code" ng-model="received.itemId">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="openingStock">Opening stock</label>
			    <input type="text" class="form-control" id="openingStock" name="openingStock" ng-model="received.opening">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="wiredian">Wirendian</label>
			    <input type="text" class="form-control" id="wiredian" name="wiredian" ng-model="received.diameter">
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="length">Lenght</label>
			    <input type="text" class="form-control" id="length" name="length" ng-model="received.length">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="width">Width</label>
			    <input type="text" class="form-control" id="width" name="widht" ng-model="received.width">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="thickness">Thickness</label>
			    <input type="text" class="form-control" id="thickness" name="thickness" ng-model="received.clampThickness">
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="type">Type</label>
			    <input type="text" class="form-control" id="type" name="type" ng-model="received.type">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="material">Maerial</label>
			    <input type="text" class="form-control" id="material" name="material" ng-model="received.material">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="rawReady">Raw /Ready</label>
			    <input type="text" class="form-control" id="rawReady" name="rawReady" ng-model="received.isRawReady">
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="threshold">Threshold</label>
			    <input type="text" class="form-control" id="threshold" name="threshold" ng-model="received.threshold">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="description">Description</label>
			    <textarea class="form-control" id="description" name="description" ng-model="received.description"></textarea>
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="isClamped">Is clamped</label>
			    <input type="text" class="form-control" id="isClamped" name="isClamped" ng-model="received.isClamp">
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="clampAtSide">Clamp at side</label>
			    <input type="text" class="form-control" id="clampAtSide" name="clampAtSide" ng-model="received.clampPosition">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="clampLength">Clamp length</label>
			    <input type="text" class="form-control" id="clampLength" name="clampLength" ng-model="received.clampLength">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="clampDescription">Clamp description</label>
			    <textarea class="form-control" id="clampDescription" name="clampDescription" ng-model="received.clampDescription"></textarea>			    
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="quantity">Quantity</label>
			    <input type="text" class="form-control" id="quantity" name="quantity" ng-model="received.quantity">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="wieght">Weight</label>
			    <input type="text" class="form-control" id="wieght" name="wieght" ng-model="received.weight">
		  	</div>
  		</div>
  		<div class="col-md-4">
  			<div class="form-group">
			    <label for="batchNo">Batch no</label>
			    <input type="text" class="form-control" id="batchNo" name="batchNo" >
		  	</div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-6">
  			 <button type="submit" class="btn btn-primary pull-right">Update</button>  			 
  		</div>
  		<div class="col-md-6">
  			<a class="btn btn-default pull-left" ui-sref="modules.stocks">Cancle</a>
  		</div> 
  	</div>
  </form>
</div>